.nav.nav-tabs{
    background-color: #8db596;
    color:white

} 
a {
    color :white
}
.nav-link{
    color: white
}
.nav-link:hover {
    color: #707070;
}

.btn.btn-signup{
    background-color: #8db596;
    color:white
    
}

.btn.btn-event{
    background-color: #8db596;
    color:white
}

.container-form{
    
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}