.nav.nav-tabs{
    background-color: #8db596;
    color:white

} 
a {
    color :white
}
.nav-link{
    color: white
}
.nav-link:hover {
    color: #707070;
}

.btn.btn-signup{
    background-color: purple;
    color:white
}
.body {
    text-align: center;
    height: 100vh;
    background-color: #bedbbb;
  }
  
.container-form{
    
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}